
.todo {
	display: flex;
	padding: auto 15px 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	height: 40px;
}

.todo:nth-child(even) {
	background-color: #EEE;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	/*flex: 1 1 50px;*/
	margin-right: 10px;
	margin-top: 10px;
}

.todo .content {
	/* flex: 1 1 90%; */
	padding-right: 50px;
	margin-top: 10px;
	margin-right: auto;
}

.todoCategory:first-of-type {
	/* flex: 1 1 30% */
	margin-right: 10px;
	margin-left: auto;
	border-color: red;
}

.todoCategory:last-of-type {
	margin-right: 10px;
}

.todoCategory img {
	width: 30px;
	margin: 0;
}

.todo .date {
	/* flex: 1 1 30% */
	/* margin-left: auto; */
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 10px;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	background-color: #F3F3F3;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
}

.category {
	display: flex;
}

.category div {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.delete {
	width: 70px;
	height: 20px;
	color: red;
	border-color: red;
	border-radius: 5px;
	border-width: 1px;
	margin-top: 10px;
	margin-right: 10px;
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;

	background-color: #FE4880;
	color: #FFF;
	margin: 15px auto;

	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
}

form img {
	width: 50px;
}